<form class="form-inline" action="{{ path('profile_check') }}" method="post">
    <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" id="user" name="user" placeholder="padhie" value="{{ user }}">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>