<form class="form-inline" action="{{ path('emotes_check') }}" method="post">
    <div class="form-group">
        <label for="emoticonSetId">Emoteset ID</label>
        <input type="text" class="form-control" id="emoticonSetId" name="emoticonSetId" placeholder="13263" value="{{ emoticonSetId }}">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>