<form class="form-inline" action="{{ path('subscription_check') }}" method="post">
    <div class="form-group">
        <label for="channel">Channel</label>
        <input type="text" class="form-control" id="channel" name="channel" placeholder="zorg0" value="{{ channel }}">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>